<div class="curso-container">
  <header>
    <h1>Cursos</h1>
  </header>

  <section class="cursos-list">
      <div *ngFor="let curso of cursosFiltrados; trackBy: trackById" class="curso-card">
        <app-curso 
          [curso]="curso" 
          (cursoEliminado)="manejarCursoEliminado($event)" 
          (cursoEditar)="editarCurso(curso)">
        </app-curso>
      </div>
  </section>

  <!-- Si no hay grados -->
  <div *ngIf="cursosFiltrados.length === 0" class="no-grados">
    <p>No existen grados</p>
  </div>

  <!-- Botón para abrir el formulario de agregar grado -->
  
  <button class="btn-add-grade" (click)="abrirFormulario()">Agregar Curso</button>
  <button class="btn-add-grade" routerLink="/main">Volver</button>

  <!-- Formulario emergente para añadir grados -->
  <app-curso-form *ngIf="mostrarFormulario" (cerrar)="cerrarFormulario()" [cursoEditar]="cursoEditar" (cursoAgregado)="agregarNuevoCurso($event)"></app-curso-form>
</div>
