.curso-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.cursos-list{
  display: flex;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.registrar{
  align-content: center;
}

.registrar-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }
}
