<div class="curso-container">
  <header>
    <h1>Cursos</h1>
  </header>

  <button class="btn-add-curso" (click)="abrirFormulario()">Agregar Curso</button>

  <section class="cursos-list">
      <div *ngFor="let curso of cursos; trackBy: trackById" class="curso-card">
        <app-curso 
          [curso]="curso" 
          (cursoEliminado)="manejarCursoEliminado($event)" 
          [gradoDescripcion]="gradosMap.get(curso.gradoId) || 'Desconocido'"
          (cursoEditar)="editarCurso(curso)">
        </app-curso>
      </div>
  </section>

  <div *ngIf="cursos.length === 0" class="no-cursos">
    <p>No existen cursos</p>
  </div>

  <button class="btn-add-curso" routerLink="/admin">Volver</button>

  <app-curso-form *ngIf="mostrarFormulario" (cerrar)="cerrarFormulario()" [cursoEditar]="cursoEditar" [grados]="gradosMap" (cursoAgregado)="agregarNuevoCurso($event)"></app-curso-form>
</div>
