<div class="modal-overlay">
    <div class="modal-content">
      <h3>{{ cursoEditar ? 'Editar Curso' : 'Agregar Nuevo Curso' }}</h3>
  
      <form (ngSubmit)="guardarCurso()">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="curso.nombre" name="nombre" required>
  
        <label>Descripcion:</label>
        <input type="text" [(ngModel)]="curso.descripcion" name="descripcion" required>

        <label>Fecha de Inicio:</label>
        <input type="date" [(ngModel)]="curso.fechaCreacion" name="fecha" required>
  
        <div class="buttons">
          <button type="button" (click)="cerrar.emit()">Cancelar</button>
          <button class ="submit-button" type="submit">{{ cursoEditar ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </form>
    </div>
  </div>