
<div class="estudiante-container">
  <h2>Lista de Estudiantes</h2>

  <button class="registrar-button" routerLink="/admin/registrarestudiantes">Registrar Estudiante</button>
  <hr>
  <table class="estudiantes-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>CI</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes; trackBy: trackById">
        <td>{{ estudiante.usuario.nombre }}</td>
        <td>{{ estudiante.usuario.email }}</td>
        <td>{{ estudiante.usuario.ci }}</td>
        <td class="estudiante-actions">
          <button class ="edit-btn" (click)="editarEstudiante(estudiante)">✏️</button>
          <button class="delete-btn" (click)="eliminarEstudiante(estudiante)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="registrar-button" routerLink="/admin">Volver</button>
</div>
