<h1>Bienvenido</h1>
<img src="./assets/logo.jpeg" class="logo">

<div class="card-container">
    <div class="card">
        <h2>Estudiantes</h2>
        <p>Administra los estudiantes</p>
        <a routerLink="/estudiantes" class="btn">Ir a Estudiantes</a>
    </div>
    <div class="card">
        <h2>Grados</h2>
        <p>Administra los grados</p>
        <a routerLink="/grados" class="btn">Ir a Grados</a>
    </div>
    <div class="card">
        <h2>Profesores</h2>
        <p>Administra los profesores</p>
        <a routerLink="/profesores" class="btn">Ir a Profesores</a>
    </div>
</div>
