<article class="curso-card">
    <div class="upper">
        <h3 class="curso-title">{{ this.curso.nombre }}</h3>
        <div *ngIf="isAdmin" class="dropdown" clickOutside (clickOutside)="isDropdownVisible = false">
            <button class="btn btn-link" type="button" (click)="toggleDropdown()">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" *ngIf="isDropdownVisible">
              <button class="dropdown-item" (click)="onEdit()">
                <i class="fa fa-edit mr-2"></i> Editar
              </button>
              <button class="dropdown-item" (click)="eliminarCurso()">
                <i class="fa fa-trash mr-2"></i> Eliminar
              </button>
            </div>
        </div>
    </div>
    <div class="detail-box">
      <p class="curso-descripcion detail">{{ this.curso.descripcion }}</p>
      <p *ngIf="gradoDescripcion" class="curso-grado detail"> {{ this.gradoDescripcion}}</p>
      <div class="ver-button">
        <button class="ver-curso-button" (click)="verCurso(curso)">Ver curso</button>
      </div>
      
    </div>
  </article>