<div class="curso-page">
    <a routerLink="/cursos">Volver</a>
    <div class="curso-header">
        <h1 class="curso-name">{{ curso.nombre }}</h1>
        <p class="curso-descripcion">{{ curso.descripcion }}</p>
        <span class="curso-fecha">Fecha de inicio: {{ curso.fechaCreacion | date: 'dd/MM/yyyy'}}</span>
    </div>

    <div class="contenidos-section">
        <div class="contenidos-header">
        <h2>Contenidos del Curso</h2>
    </div>
    <app-contenidos-page [cursoId]="curso.id"></app-contenidos-page>
  </div>
</div>
