<div class="profesor-container">
  <h2>Lista de Profesores</h2>

  <button class="registrar-button" routerLink="/registrarprofesor">Registrar Profesor</button>
  <hr>
  <table class="profesor-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>CI</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesor of profesores; trackBy: trackById">
        <td>{{ profesor.nombre }}</td>
        <td>{{ profesor.correo }}</td>
        <td>{{ profesor.telefono }}</td>
        <td>{{ profesor.ci }}</td>
        <td class="profesor-actions">
          <button class="edit-btn" (click)="editarProfesor(profesor)">✏️</button>
          <button class="delete-btn" (click)="eliminarProfesor(profesor)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="registrar-button" routerLink="/main">Volver</button>
</div>
