<article class="curso-card">
    <div class="upper">
        <h3 class="curso-title">{{ this.curso.nombre }}</h3>

    </div>
    <div class="detail-box">
      <p class="curso-descripcion detail">{{ this.curso.descripcion }}</p>
      <p *ngIf="gradoDescripcion" class="curso-grado detail"> {{ this.gradoDescripcion}}</p>
      <div class="ver-button">
        <button class="ver-curso-button" [routerLink]="['/profesor/cursos', curso.id]" [state]="{curso: curso}">Ver curso</button>
      </div>
      
    </div>
  </article>