<div class="tarea-card">
    <div class="tarea-main">
      <h3 class="tarea-titulo">{{ tarea?.titulo }}</h3>
      <p class="tarea-descripcion">{{ tarea?.descripcion }}</p>
    </div>
  
    <div class="tarea-meta">
      <span class="tarea-puntaje">Puntaje máximo: {{ tarea?.puntaje_maximo }}</span>
      <span class="tarea-fecha">Entrega: {{ tarea?.fecha_entrega | date }}</span>
      <button [routerLink]="['/estudiante/tarea', tarea?.id]" class="ver-btn"><b>Ver tarea</b></button>

    </div>
  </div>
  