<div class="page-container">
    <!-- Botón para agregar un nuevo grado -->

  
    <!-- Contenedor que centra los grados -->
    <div class="grados-container">
      <div *ngFor="let grado of gradosFiltrados; trackBy: trackById" class="grado-card">
        <app-grado 
          [grado]="grado" 
          (gradoEliminado)="manejarGradoEliminado($event)">
        </app-grado>
      </div>
    </div>
  
    <!-- Si no hay grados -->
    <div *ngIf="gradosFiltrados.length === 0" class="no-grados">
      <p>No existen grados</p>
    </div>

    <button class="btn-add-grade" (click)="abrirFormulario()">Agregar Grado</button>
  </div>
  