@import '../../../../../styles.scss';

/* Colores */
$verde: #47663B;
$verde-oscuro: darken($verde, 10%);
$fondo-claro: #E8ECD7;
$gris-texto: #555;

/* Estilos para el contenedor principal */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: $fondo-claro;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de agregar grado */
.btn-add-grade {
    margin-top: 20px;
    background-color: $verde;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-add-grade:hover {
    background-color: $verde-oscuro;
    transform: translateY(-2px);
}

/* Estilos para el contenedor de grados */
.grados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para cada tarjeta de grado */
.grado-card {
    width: 220px;
    height: auto;
    border: 1px solid $verde;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s;
}

.grado-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Estilo cuando no hay grados */
.no-grados {
    margin-top: 20px;
    font-size: 18px;
    color: $gris-texto;
    font-weight: bold;
}

/* Contenedor del buscador */
.search-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Input de búsqueda */
.search-input {
    width: 80%;
    max-width: 500px;
    padding: 12px 15px;
    border: 2px solid $verde;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: white;
    color: $gris-texto;
}

.search-input:focus {
    outline: none;
    border-color: $verde-oscuro;
    box-shadow: 0 0 8px rgba(71, 102, 59, 0.4);
}

.search-input::placeholder {
    color: #888;
}
