<!-- NAVBAR -->
<header class="navbar">
  <div class="logo">
    <img src="assets/logoNS02.png" alt="Logo" class="logo-img" />
  </div>
  <nav class="nav-links">
    <a routerLink="/login" class="btn-box">Iniciar Sesión</a>
    <a routerLink="/register" class="btn-box">Regístrate ahora</a>
  </nav>
</header>

<!-- CONTENIDO PRINCIPAL -->
<main class="main-content">
  <h1 class="main-title">Bienvenido a NewSchool</h1>

    <div class="carousel">
      <img [src]="imagenes[indiceActual]" alt="Imagen del carrusel" class="carousel-img" />
      <div class="carousel-controls">
        <button (click)="anterior()">❮</button>
        <button (click)="siguiente()">❯</button>
      </div>
    </div>
    
  <p class="announcement">Anuncios de la página</p>
</main>

<!-- FOOTER -->
<footer class="footer">
  <div class="footer-logo"><img src="assets/logo01.png"/></div>
  <div class="footer-text">Footer aquí</div>
</footer>
