<div class="page-container">
  <div class="search-container">
    <input 
      type="text" 
      placeholder="Buscar profesores..." 
      [(ngModel)]="terminoBusqueda" 
      (input)="filtrarProfesores()"
      class="search-input">
  </div>
  <button class="btn-add-profesor" (click)="abrirFormulario()">Agregar Profesor</button>
  <div class="profesores-container">
    <div *ngFor="let profesor of profesoresFiltrados; trackBy: trackById" class="profesor-card">
      <app-profesor 
        [profesor]="profesor" 
        (profesorEliminado)="manejarProfesorEliminado($event)" 
        (profesorEditar)="editarProfesor(profesor)">
      </app-profesor>
    </div>
  </div>

  <div *ngIf="profesoresFiltrados.length === 0" class="no-profesores">
    <p>No existen profesores</p>
  </div>


  <button class="btn-add-profesor" routerLink="/main">Volver</button>

  <app-profesores-add 
    *ngIf="mostrarFormulario" 
    (cerrar)="cerrarFormulario()" 
    [profesorEditar]="profesorEditar" 
    (profesorAgregado)="agregarNuevoProfesor($event)">
  </app-profesores-add>
</div>
