/* Estilos para el contenedor principal */
@import '../../../../../styles.scss';

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Estilo para el botón de agregar profesor */
  .btn-add-grade {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-add-grade:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el contenedor de grados */
  
  .profesores-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos hacia arriba */
    margin-top: 20px;
    height: auto;
  }
  
  
  /* Estilo para cada tarjeta de profesor */
  .profesor-card {

    //height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  .profesor-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo cuando no hay grados */
  .no-grados {
    margin-top: 20px;
    font-size: 18px;
    color: #777;
  }
  

  .search-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 80%;
    max-width: 500px;
    padding: 12px 15px;
    border: 2px solid $verde;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: white;
    color: #333;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .search-input::placeholder {
    color: #aaa;
  }

  .btn-add-profesor {
    margin-top: 20px;
    background-color: $verde;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-add-profesor:hover {
    background-color: $verde-oscuro;
  }
  