<div class="page-container">
  <div class="search-container">
    <input 
      type="text" 
      placeholder="Buscar profesores..." 
      [(ngModel)]="terminoBusqueda" 
      (input)="filtrarProfesores()"
      class="search-input">
  </div>
  <button class="btn-add-profesor" (click)="abrirFormulario()">Agregar Profesor</button>
  <div class="profesores-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>CI</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of profesoresFiltrados; trackBy: trackById">
          <td>{{ profesor.nombre }}</td>
          <td>{{ profesor.correo }}</td>
          <td>{{ profesor.telefono }}</td>
          <td>{{ profesor.ci }}</td>
          <td>
            <button (click)="editarProfesor(profesor)">📝</button>
            <button (click)="manejarProfesorEliminado(profesor.id)">❌</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <div *ngIf="profesoresFiltrados.length === 0" class="no-profesores">
    <p>No existen profesores</p>
  </div>


  <button class="btn-add-profesor" routerLink="/main">Volver</button>

  <app-profesores-add 
    *ngIf="mostrarFormulario" 
    (cerrar)="cerrarFormulario()" 
    [profesorEditar]="profesorEditar" 
    (profesorAgregado)="agregarNuevoProfesor($event)">
  </app-profesores-add>
</div>