<div class="modal-overlay">
    <div class="modal-content">
      <h3>{{ profesorEditar ? 'Editar Profesor' : 'Agregar Nuevo Profesor' }}</h3>
  
      <form (ngSubmit)="guardarProfesor()">
        <!-- Campo para el nombre del profesor -->
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="profesor.usuario.nombre" name="nombre" required>

        <label>Apellido:</label>
        <input type="text" [(ngModel)]="profesor.usuario.apellido" name="apellido" required>
  
        <!-- Campo para el CI del profesor -->
        <label>CI:</label>
        <input type="text" [(ngModel)]="profesor.usuario.ci" name="ci" required>
  
        <!-- Campo para el correo del profesor -->
        <label>Titulo:</label>
        <input type="titulo" [(ngModel)]="profesor.licenciatura" name="titulo" required>
  
        <div class="buttons">
          <button type="button" (click)="cerrar.emit()">Cancelar</button>
          <button class ="submit-button" type="submit">{{ profesorEditar ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </form>
    </div>
  </div>
  